.i{
color:white;
}
.bg{
background-color:#6666ff;
}
body {
margin: 0;
font-family:Georgia,serif;
}
.txtsize{
  height:50px;
}
.top-container {
background-color: #f1f1f1;
padding: 30px;
text-align: center;
}
.header {
color:#f1f1f1;
}
.content {
padding: 16px;
}
.sticky {
position: fixed;
top: 0;
width: 100%;
}
.sticky + .content {
padding-top: 102px;
}
a:hover{
 text-decoration: overline;
 color:#f1f1;
 font-weight: bold;
}
i:hover{
  color:#f1f1;
  font-weight: bold;
}
.emoji{
  background:transparent;
}
.icon
{
  color:black;

}
.tppad{
  padding-top: 500px;
}
.verticalLine {
  border-left:solid black;
  heigth:100%;
}
.widthsnd{
  width:100%;
}
.background{
       border:2px solid gray;
       padding-left: 3px;
       padding-right:10px;
       height:660px;
       background-image:url("11.jpg");
}
.backarrow{
  color: white;
}
